.btn {
	border: none;
	background-color: transparent;
	color: var(--textColor-700);
	transition: 0.3s all;
	font-size: 1.5rem;
	margin: 0;
	padding: 0.5rem 1.5rem;
	&::before {
		content: "x";
	}
	&:hover {
		color: var(--textTodo);
	}
}
